*{
	margin: 0;
	padding: 0;
}

body  {
    /*background-image: url("img/background.jpg");  Not working ???*/
	font-family: "Trebuchet MS", sans-serif, Segoe, "Segoe UI", "DejaVu Sans", Verdana;
	font-size: 1em;
}

/* General styling for headings */
h1, h2, h3, p{
	margin: 20px 0;
}

h2{ font-size: 1.75em;}
h3{ font-size: 1.5em;}

ul{ padding: 0;}

/* this does not work for general styling */
a:link, a:active, a:visited{ 
	color: #672627;
	text-decoration: none;
}

/* Set hyperlink as button look */
.button{
	background: #ccc;
	color: #000;
	border-radius: 5px;
	padding: 10px 5px;
}

/* Style for horizontal line */
/* Source: https://css-tricks.com/examples/hrs/ */
hr.style-two { 
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.topbar-txt a:visited, #contents a:visited{ 
	color: #672627;
	text-decoration: none;
}

/* Page wrapper */
#page-wrapper{
	width: 90%;
	margin: 0 auto;
	background: #ebebeb;
	/*padding: 0 1em;*/
}

/* Header division */
#header-wrapper{
	height: 300px;
	background: #ebebeb;
}

#top-bar{ background: #ccc}

#top-bar .topbar-txt{
	width: 90%;
	height: 40px;
	padding-top: 20px;
	float: left;
	text-align: right;
	font-weight: bold;
}

#top-bar #cart{
	width: 4%;
	float: right;
	right: 10px;
	margin-top: 0.5em;
}

#top-bar img{
	height: 40px;
	width: 40px;
}


/* Logo , site title and search section */
#logo-wrapper{
	width: 100%;
	height: 100px;
}

.sitetitle-wrapper{
	position: relative;
	width: 50%;
	height: 100px;
	padding: 0 10px 0 20px;
	float: left;
}
	
#logo{ 
	width: 100px; /* same size with logo image */
	position: absolute;
	cusor: pointer;
}
#logo img{ 
	width: 100px;
	height: 100px;
	float: left;
}

#site-title{
	position: absolute;
	left: 120px; 
}

#site-title img{
	width: 250px;
	height: 100px;
}

#search{
	width: 40%;
	float: right;
	padding-top: 1.75em;
}
#search form{
	float:right;
}

#nav{
	height: 1.5cm;
	background: #672627;
}

#nav ul{
	list-style-type: none;
	padding: 20px;
}
#nav ul li{
	display: inline;
	border-right: 1px solid #ccc;
	padding: 0 10px;
}

#nav ul:first-child{ padding-left: 10px;}

#nav .active{
	text-decoration: underline;
}
	
/* No slash behind contact link */
#nav ul li:last-child{
	border-right: none;
}

#nav a:link, #nav a:active, #nav a:visited { 
	color: #ccc;
	text-decoration: none;
	font-size: 1.25em;
	font-weight: bold;
}
	
/* Page title and breadcrumb */
#crumb-wrapper{
	position: relative;
	width: 100%;
	height: 80px;
	background: #ccc;
}

#crumb-wrapper .pagetitle{
	position: absolute;
	top: 0; left: 0;
	width: 50%;
	padding-left: 20px;
	font-family: "Arial", sans-serif;
}

#crumb-wrapper .breadcrumb{
	position: absolute;
	top: 0; right: 0;
	width: 40%;
	padding-right: 20px;
	text-align: right;
	size: 0.75em;
	font-weight: normal;
}
.breadcrumb a:link, .breadcrumb a:active, .breadcrumb a:visited{
	color: #672627;
}

/* Slider images */
.slider{
	height: 450px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	margin-bottom: 10px;
}

#slider1_container{
	margin: 0 auto;
}

/* Content Wrapper, applied for all contents */
#content-wrapper{
	padding: 10px 20px;
}

/* Content section */
/* Contents */
#contents{
	width: 75%;
	float: left;
}

/* Sidebar */
#sidebar{
	width: 20%;
	float: right;
	text-align: center;
}


#sidebar .product{
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
}

#sidebar div:last-child{ border-bottom: none;}

/* *** CONTACT PAGE *** */
.contact{ 
	width: 60%;
	float: left;
}

.contact-sidebar{ 
	width:35%;
	float: right;
	
}
.contact-form{
	margin: 0 auto;
	border: 1px solid #999;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.contact-form form{
	padding: 10px;
}

.contact-form label{
	display: block;
	width: 150px;
	height: 20px;
	padding: 10px 0 0 0;
}

.contact-form input{
	width:375px;
	border: 1px solid #999;
	height: 35px;
	padding-left: 10px;
	margin-top: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.contact-form textarea{
	width:385px;
	height:150px;
}
.contact-form input[type=submit]{
	width: 390px;
	height: 35px;
}


.icon{
	padding: 10px 0;
}
.icon span{
	padding-right: 15px;
}

/* *** ABOUT PAGE *** */
.about{
	width: 100%;
	height: 400px;
}
/* The image only occupy percentage of its parent division */
.about img{
	width: 100%;
	height: 100%;
}


/* Styles for all general items */
#contents .product{
	width: 280px;
	float: left;
	padding-left: 10px;
}

p.price{
	font-size: 1.25em;
}

p.price span:hover{
	cursor: pointer;
}

/* Styles for products in table */
tr:last-child{ padding: 10px 0;}
th{
	background: #ccc;
	padding: 10px 0;
}
th, td{
	text-align: left;
}
td{ 
	border-bottom: 2px dotted #672627;
}

td.spaces{
	padding-right: 50px;
}

td.left{ text-align: right;}

/* Styles for special items */
.specials{
	margin-top: 10px;
    width: 280px;
    padding: 10px;
    float: left;
    text-align: center;
}

.specials h3{
	color: red;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0; /* override default setting */
}


/* Brands page */
.brands{
	width: 200px;
	height: 200px;
	padding: 10px 20px 10px 0px;
	float: left;
}

.brands ul{
	list-style-type: none;
}

.brands ul li{ padding: 5px 0 ;}

.clear{
	clear: both;
}
	
/* General style for Forms */	
form{
    padding: 10px 10px 10px 0;
}

input[type=submit]{
	border-radius: 5px;
	background: #672627;
	color: #fff;
	padding: 5px;
}

.error{
    margin: auto;
    width: 50%;
    color: red;
}

/* *** SEARCH FORM and Ajax section *** */
.search input[type=text], .forgot-pwd input[type=text]{
	width:375px;
	border: 1px solid #999;
	height: 35px;
	padding-left: 10px;
}

#logo-wrapper #txtHint{
	z-index: 91;
	position: relative; /* Important: list of search shown */
	background: #7B4041;
	opacity: 0.9;
}
#logo-wrapper #txtHint a, a:visited{
	color: #fff;
}
#logo-wrapper #txtHint ul{
		list-style-type: none;
		padding: 5px;
}
#logo-wrapper #txtHint ul a{
		text-decoration: none;
}
#logo-wrapper #txtHint ul li:hover{
	background: #CCC;
}


/* *** LOGIN FORM *** */
.login_div{
    width: 60%;
    margin: auto; 
	margin-top: 20px; 
    text-align: center;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.login_div legend, label{ /*padding: 0 10px;*/}

legend{
	font-size: 1.25em;
	font-weight: bold;
	color: #672627;
	margin: 20px 0;
}
	
.login_div label{
	display: block;
	margin-top: 10px;
}

.login_div input{
	width:375px;
	border: 1px solid #999;
	height: 35px;
	margin-top: 10px;
	padding-left: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.register select{
	width:375px;
	border: 1px solid #999;
	height: 35px;
	margin: 10px 0;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
	
.login_div input[type=submit]{
    height: 35px; 
	width: 385px; 
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.login_div p{
	text-align: center;
}

/* *** REGISTRATION FORM *** */
.forms{
    padding: 10px;
}

fieldset{
	padding: 10px 0;
}

legend{ 
	padding: 0 10px;
	border: 1px solid #ccc;
}

.register label{
	display: block;
	width: 160px;
	height: 35px;
	padding-top: 10px;
	float: left;
}

.register input{
	width:365px;
	border: 1px solid #999;
	height: 35px;
	padding-left: 10px;
	margin-top: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.register input[type=submit]{
    margin-left: 160px;
    height: 35px; 
	width: 375px; 
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.g-recaptcha{ 
	margin: 10px 0px 10px 160px;
}

/* *** CUSTOMER PROFILE PAGE *** */
.profile table{ padding: 0; margin: 0;}

.profile td{
	border-bottom: none; /* override default setting */
	padding: 10px 20px 10px 0;
}
	
.updateprofile td{ /* these codes repeated !!*/
	border-bottom: none;
	padding: 10px 20px 10px 0;
}
	
	
/* *** CHECK OUT PAGE *** */

#checkout {
    margin-left: 50px;
}
	
.checkout{
    text-align: center;
    padding-right: 35px;
}

.checkout .div1{ width: 50%;
	float: left;
}

.checkout .div2{ width: 25%;
	float: right;
}

.div2 a{ margin: 5px 0; width: 95%;}

.checkout a:link, .checkout a:active, .checkout a:visited{
	height: 30px;
	display: block;
	border-radius: 5px;
	padding: 10px 5px 5px;
	background: rgb(103, 38, 39) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255) !important;
}


/* Footer */
#footer{
	margin-top: 10px;
	background: #ccc;
	padding: 10px 0;
}

#footer p{
	text-align: center;
	color: #672627;
}